In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load the dataset
df = pd.read_excel("Amazon_top100_bestselling_books_2009to2021.xlsx")
#reference: https://www.kaggle.com/datasets/abdulhamidadavize/top-100-best-selling-books-on-amazon-20092021

df.head()

,Unnamed: 0,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre
0,0,12.49,1.0,The Lost Symbol,16118.0,4.4,Dan Brown,Hardcover,2009,Fiction
1,1,13.40,2.0,The Shack: Where Tragedy Confronts Eternity,23392.0,4.7,William P. Young,Paperback,2009,Fiction
2,2,9.93,3.0,Liberty and Tyranny: A Conservative Manifesto,5036.0,4.8,Mark R. Levin,Hardcover,2009,Non Fiction
3,3,14.30,4.0,"Breaking Dawn (The Twilight Saga, Book 4)",16912.0,4.7,Stephenie Meyer,Hardcover,2009,Fiction
4,4,9.99,5.0,Going Rogue: An American Life,1572.0,4.6,Sarah Palin,Hardcover,2009,Non Fiction

### Experiment 1

In [44]:
# Load the dataset
df = pd.read_excel("Amazon_top100_bestselling_books_2009to2021.xlsx")

# Pre-processing
# Dealing with null values
df.dropna(inplace=True)

# Feature selection
selected_features = ['price', 'no_of_reviews', 'ratings', 'year', 'cover_type', 'genre']
df_selected = df[selected_features]

# Feature transformation
df_selected = pd.get_dummies(df_selected, columns=['cover_type', 'genre'])

# Splitting data into features and target variable
X = df_selected.drop('price', axis=1)
y = df_selected['price']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Modeling
# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.10824218053289059

In [45]:
# Evaluation
y_pred = model.predict(X_test)

root_mean_square_error = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", root_mean_square_error)

Root Mean Squared Error (RMSE): 6.030164667026598

### Experiment 2

In [46]:
# Load the dataset
df = pd.read_excel("Amazon_top100_bestselling_books_2009to2021.xlsx")

# Pre-processing
# Dealing with null values
df.dropna(inplace=True)

# Feature selection
selected_features = ['no_of_reviews', 'ratings', 'year', 'cover_type', 'genre']
df_selected = df[selected_features]

# Feature transformation
df_selected = pd.get_dummies(df_selected, columns=['cover_type', 'genre'])

# Splitting data into features and target variable
X = df_selected.drop('no_of_reviews', axis=1)
y = df_selected['no_of_reviews']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Modeling
model = LinearRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.2540808595811387

In [47]:
# Evaluation
# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE) for predicting number of reviews:", rmse)

Root Mean Squared Error (RMSE) for predicting number of reviews: 27937.82880837136

### Experiment 3

In [60]:
# Load the dataset
df = pd.read_excel("Amazon_top100_bestselling_books_2009to2021.xlsx")

# Pre-processing
# Dealing with null values
df.dropna(inplace=True)

# Feature selection
selected_features = ['no_of_reviews', 'year', 'cover_type', 'genre']
df_selected = df[selected_features]

# Feature transformation
df_selected = pd.get_dummies(df_selected, columns=['cover_type', 'genre'])

# Splitting data into features and target variable
X = df_selected
y = df['ratings']  # New target variable

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=180)

# Modeling (Random Forest Regression)
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
print("Score:", model.score(X_test, y_test))

Score: 0.383550815878132

In [58]:
# Evaluation
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE) for predicting ratings with Random Forest Regression:", rmse)

Root Mean Squared Error (RMSE) for predicting ratings with Random Forest Regression: 0.15902810438565912